.logo{
    margin-right: auto;
}

a {
    color: gray;
    text-decoration: none;
}

.top-nav{
    display: flex;
    justify-content: flex-end;
    padding: 0.1em 5em;
}

.top-nav nav {
    display: flex;

}

nav {
    display: flex;
    align-items: center;
}

.region-text, .region{
    margin-right: 15px;
}

.region{
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search-text{
    margin-right: 5px;
}

.search-text, .region-text, .login {
    font-size: 0.8rem;
}

.search-img{
    margin-right: 15px;
}


.flag-img, .search-img {
    width: 20px;
}

.flag-img{
    width: 40px;

}

.login{
    padding: 1em;
    border-radius: 2px;
    border:none;
    background-color: red;
    color: white;
    cursor: pointer;
}

/* BOTTOM NAV */
.bottom-nav {
    background: #f5f5f5;
    border-bottom: 2px solid #dbdada;
}

.bottom-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    background: transparent;
    padding: 0 40px;
}

.bottom-nav li {
    width: 20%;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    
}

.bottom-nav li p {
    margin: auto;
}

.bottom-nav .one:hover {
    background-color: #ffffff;
}

.bottom-nav .two:hover {
    background-color: #CE181E;
    color: #fff;
}

.bottom-nav .three:hover {
    background-color: orange;
}

.bottom-nav .four:hover {
    background-color: #ffffff;
}

.bottom-nav .five:hover {
    background-color: #FF3F3F;
}

.bottom-nav .six:hover {
    background-color: #00BFF3;
}

.bottom-nav .seven:hover {
    background-color: #ffffff;
}